$primary-color : #017bff;
$myTodoColor : #fff2d0;
$affectedColor : #d3ecd8;
$doneColor : #27a648;
$editerColor : #19a2b4;
$effacerColor : #dc3645;
$ouverteColor : #ffbf0a;
$affecterColor : #69747f;
$idColor : #353a42;
$undone : #363944;
$todoDoneContenaire : #d3ecd8;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
