$primary-color : #017bff;
$myTodoColor : #fff2d0;
$affectedColor : #d3ecd8;
$doneColor : #27a648;
$editerColor : #19a2b4;
$effacerColor : #dc3645;
$ouverteColor : #ffbf0a;
$affecterColor : #69747f;
$idColor : #353a42;
$undone : #363944;
