* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,p {
    margin: 0;
}
ul {
    padding: 0!important;
    margin: 0!important;
}

a {
    text-decoration: none!important;
}

li {
    list-style-type: none;
}
.butn {
    cursor: pointer;
}
